@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

.outline-animation {
  position: relative;
  color: black;
  text-shadow: -2px -2px 0 white, 2px 2px 0 white, 2px -2px 0 white,
    -2px 2px 0 white;
  animation: fillText 3s forwards;
}

@keyframes fillText {
  0% {
    color: black;
    text-shadow: -2px -2px 0 white, 2px 2px 0 white, 2px -2px 0 white,
      -2px 2px 0 white; /* Outline color */
  }
  50% {
    color: black;
    text-shadow: -1px -1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
      -1px 1px 0 white;
  }
  100% {
    color: white; /* Final fill color */
    text-shadow: none; /* Remove outline */
  }
}

.stroke-text {
  color: black;
  position: relative;
  display: inline block;
  text-shadow: -1px -1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
